<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />    
    
    <root level="INFO">           
        <appender-ref ref="CONSOLE" />
    </root>
    
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" additivity="false">                        
        <appender-ref ref="CONSOLE"/>        
    </logger>    
    
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="DEBUG" additivity="false">                        
        <appender-ref ref="CONSOLE"/>        
    </logger> 
    
    
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">        
           <appender-ref ref="CONSOLE" />    
    </logger>
    
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">        
    	<appender-ref ref="CONSOLE" />    
    </logger>
    
      <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="DEBUG" additivity="false">                        
        <appender-ref ref="CONSOLE"/>        
    </logger> 
    
</configuration>